@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* fonts */
  --font: "EB Garamond";
  /* colors */
  --beige: #f3c395ff;
  --pink: #f8eff2;
  --lightblue: #d6bcfa;
  --violet: #757bbd;
  --White: #f8f2edff;
  --second-White: #ffffff;
  --black: #000000;
  --darkGreen: #055346ff;
  --lightGreen: #9ae6b4;
  --morelightGrey: #8d8888;
  --lightGrey: #353535bd;
  --darkGrey: #353535ff;
  --orange: #f6ad55;
  --yellow: #faf089;
  --red: #e93d3d;
  /* background */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--font), sans-serif;
}
header {
  background-color: var(--second-White);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 135px;
  width: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 230px;
  height: auto;
}

/* card login section */
.login {
  padding: 20px 0px;
  background-color: var(--second-White);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-container {
  background-color: var(--pink);
  max-width: 600px;
  margin: 0 auto;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.login-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}
.login-text h1 {
  font-size: 50px;
  font-weight: 500;
  color: var(--darkGreen);
}
.login-text p {
  font-size: 17px;
  font-weight: 500;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 30px;
  width: 70%;
}
.norm-label {
  font-size: 20px;
  font-weight: 500;
  color: var(--darkGreen);
}
.norm-input {
  border: 1px solid var(--morelightGrey);
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
}
.login-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid var(--darkGreen);
  background-color: var(--darkGreen);
  border-radius: 8px;
}
.login-button a {
  color: var(--second-White);
  font-weight: 500;
  font-family: "Monserrat", sans-serif;
  font-size: 17px;
  display: block;
  width: 100%;
  padding: 15px 100px;
  text-align: center;
}
.login-singup p {
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}
.login-singup p a {
  color: var(--darkGreen);
  font-weight: 600;
}
