@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* fonts */
  --font: "EB Garamond";
  /* colors */
  --beige: #f3c395ff;
  --pink: #f8eff2;
  --lightblue: #d6bcfa;
  --violet: #757bbd;
  --White: #f8f2edff;
  --second-White: #ffffff;
  --black: #000000;
  --darkGreen: #055346ff;
  --lightGreen: #9ae6b4;
  --morelightGrey: #8d8888;
  --lightGrey: #353535bd;
  --darkGrey: #353535ff;
  --orange: #f6ad55;
  --yellow: #faf089;
  --red: #e93d3d;
  /* background */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--font), sans-serif;
}
@media (max-width: 768px) {
  /* Toggle Menu */
  body {
    overflow-x: hidden;
  }
  .nav-list {
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 135px;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--black);
    border: 2px solid var(--darkGreen);
    border-top: 0;
    border-right: 0;
    border-bottom-left-radius: 15px;
    padding: 17px 0;
    gap: 25px;
  }
  .nav-list a {
    font-size: 18px;
  }
  .label-menu {
    display: flex;
    font-size: 30px;
  }
  .input-menu {
    display: none;
  }
  .menu-hamburguesa i {
    height: 20px;
    width: 25px;
  }
  #menu-toggle:checked ~ .nav-list {
    display: flex;
    transform: translateX(0%);
    opacity: 1;
  }
  .nav-list {
    transform: translateX(110%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  /* responsive general */

  .logo {
    margin-left: 0;
  }
  .hero-info {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .hero-info h1 {
    font-size: 70px;
    font-weight: 600;
  }
  .hero-info p {
    font-size: 20px;
    font-weight: 600;
  }
  #Nosotros {
    flex-direction: column;
    /* gap: 50px; */
  }
  .img-nos {
    width: 100%;
  }
  .text-nos {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .text-nos h2 {
    font-size: 35px;
  }
  .text-nos h1 {
    font-size: 50px;
  }
  .text-nos p {
    font-size: 20px;
  }
  .grid-servicios {
    grid-template-columns: 1fr;
    width: 90%;
  }
  .grid-servicios img {
    height: 320px;
  }
  .cards-descrip {
    grid-template-columns: 1fr;
    width: 90%;
  }
  .cards-descrip img {
    width: 300px;
  }
  .cards-descrip h2 {
    font-size: 40px;
  }
  .text-descrip h1 {
    font-size: 50px;
  }
  .text-descrip p {
    font-size: 20px;
  }
  .text-salones {
    width: 170%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .text-salones h1 {
    font-size: 60px;
  }
  .text-salones p {
    font-size: 20px;
  }
  .galeria-conteiner {
    gap: 70px;
  }
  .galeria-conteiner h2 {
    font-size: 50px;
  }
  .img-conteiner {
    width: 90%;
    grid-template-columns: 1fr;
  }
  .img-conteiner img {
    height: 320px;
    object-fit: cover;
  }
  .ubicacion-conteiner {
    gap: 30px;
  }
  .ubicacion-conteiner h2 {
    font-size: 50px;
  }
  .ubicacion-conteiner p {
    font-size: 20px;
  }
  iframe {
    width: 640px;
    height: 450px;
  }
  .ubicacion-conteiner a {
    font-size: 25px;
  }
  .img-footer img {
    display: none;
  }
  .footer-contet {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
}
